*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#container{
    background-color: #fadd94;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
#tempCalc{
    background-color: #FFB2A6;
    width:60vw;
    height:60vh;
    box-shadow:0px 2px grey;
    padding: 10vh;
    font-size: 25px;
    text-align: center;
}
input[type='number']
{
    width:70px;
    height:25px;
}
#temp_diff{
    height:25px; 
}
input[type='submit']
{
    background-color: black;
    color:white;
}